.brand-color {
    color: #579573;
}

.white {
    color: #f0f0df;
}

.black {
    color: #0a1210;
    color: #2f2e41;
}

.rose {
    color: #c7a4ca;
}

.crem {
    color: #d7ca96;
}