.header {
    position: relative;
}

.header__logo,
.navigation {
    position: fixed;
    left: 50%;
    
    z-index: 20;
    transform: translate( -50%, -50% );
}

.navigation {
    top: 50%;
    width: 100%;
}

.logo {
    width: 10em;
    height: auto;
}

.header__social {
    position: fixed;
    top: 5rem;
    right: 0;

    z-index: 51;
    cursor: pointer;

    max-width: 120rem;
    margin: auto;
}

.social {
    width: 1.5em;
    height: 1.5em;

    padding: .3rem;
    margin: 3em 0;
    box-sizing: content-box;
    background-color: #2f2e419d;
    border-radius: 20%;
}

@media ( min-width: 80rem ) {
    .header__social {
        right: .8em;
    }    
}