.services {
    background-color: #2f2e41;
}

.services h3,
.services h4,
.services p  {
    color: white;
}

.services__container img {
    margin: auto;
    
    height: auto;
    width: 60%;
}

@media ( min-width: 45rem ) {
    .services {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .services__container {
        display: flex;
        align-items: center;

        margin: 2rem auto 5rem;
    }

    .services__container:nth-child( 2n + 1 ) {
        flex-direction: row-reverse;
    }

    .services__container:nth-child( 2n + 1 ) .services__content {
        margin-left: 4rem;
    }

    .services__container:nth-child( 2n ) .services__content {
        margin-right: 4rem;
    }

    .services__container .services__image {
        width: 50%;
    }

    .services__content {
        width: calc( 50% - 4rem );
    }
}